* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sora", sans-serif;
    background-color: #FAFAF9;
    height: 100vh;

}

/* Card */

.card-box{
    margin-top: 10.25rem;
    width: 23rem;
   border-radius: 15px;
   box-shadow: 8px 8px 20px 8px rgba(85, 85, 85, 0.4);
   background-color: #fff;
   
}

.inner-card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.image,.design,.description,.tag{
    flex: 2;
    padding: 1rem;
}
.image img{
    border-radius: 15px;
    width: 100%;
}

.design span{
    font-size: 0.625rem;
    color:#7C19EE ;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    background-color:#F2EAFD ;
    font-weight: bold;
    
}

.description h2{
    color:#20293A;
    font-size:1.125rem;
    margin-bottom: 1rem;
}
.description p{
    font-size: 0.875rem;
    font-weight: lighter;
    color:#394150;
    line-height: 1.7;
}

.tag{
    border-top: 2px solid #E5EAF0;
}
.tag address{
    
    color:#394150;
    font-size:  0.75rem;
}